article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* Presentation */

/*  subscribe button SPILLING - issue. highlighted HTML and scrolled entire document - as if there is as scroll it means content is spilling */
/* proud of my design choice with meet alicia */

/***** GENERAL STYLES ******/

html {
    font-size: 20px;
}

body {
    font-family: 'Catamaran', sans-serif;
    font-size: 0.8rem;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3{
    font-family: 'Pacifico', cursive;
}

h1, h3, aside p, .navIcons {
    color: #f2a11c;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 5px 5px 0 5px;
    display: inline-block;
}

button {
    text-transform: uppercase;
    padding: 1% 0;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
}

.navList li,
footer li,
.midSection li {
    display: inline-block;
    margin-left: 3%;
    border-bottom: 1px solid transparent;
}

nav a:hover,
footer a:hover,
.midSection a:hover {
    border-bottom: 1px solid #f2a11c;
}

nav li,
footer li,
.midSection a {
    transition: border 0.25s ease-in;
}

.navList ul,
footer ul {
    text-align: center;
    color: #fff;
    padding-top: 1%;
}

h2 {
    font-size: 1.8rem;
    margin: 0;
}

/*****  STYLES BY SECTION *****/

/* HEADER STYLES*/

header .fullbleed {
    background: url('../assets/image1.jpg');
    background-size: cover;
    background-position: 55% 0%;
    min-height: 100vh;
    position: relative;
}

h1 {
    font-size: 5rem;
    margin: 0;
    text-align: center;
    padding-top: 26vh;
}


.navList .burger{
    display: none;
}

.navIcons {
    margin-top: 2%;
    position: absolute;
    right: 4%;
    top: 34%;
}

@media (max-width: 1103px){
    .navIcons {
        position: static;
        margin: 0 auto;
        text-align: center;
    }
    
    .navIcons li{
        display: inline-block;
        position: static;
    }
}

@media (max-width: 801px){
   
    header h1 {
        padding-top: 29vh;
    }

    .navIcons {
        display: none;
    }

    .navList {
        padding-top: 4%;
    }
    
    .navList ul{
        text-align: right;
    }
    
    .navList li a{
        display: none;
    }
    
    .navList li:last-child{
        padding-right: 4%;
        font-size: 2rem;
    }
    
    .navList .burger{
        display: block;
    }
    
    .navList li:last-child:hover {
        border-bottom: 1px solid transparent;
        cursor: pointer;
    }
}

@media (max-width: 491px){
    header .fullbleed {
        background: url('../assets/image1Mobile.jpg');
        background-size: cover;
    }
    
    header h1{
        font-size: 4rem;
        padding-top: 31vh;
    }
}

.navIcons a {
    padding-bottom: 10%;
    padding-top: 0;
}

.navIcons li {
    transition: color 0.25s ease-in;
}

.navIcons li:hover {
    color: #fff;
}

/*  ABOUT SECTION STYLES */

.galleryText,
.gallery img {
    width: 50%;
}

.galleryText {
    padding: 8% 5% 0 8%; 
}

.galleryText p {
    line-height: 1.45;
    margin-top: 0;
}

.gallery img {
    display: block;
}

.textTop,
.imageTop {
    float: right;
}

.textBottom,
.imageBottom {
    float: left;
}

@media (max-width: 1060px){
    .galleryText {
        padding: 7% 4% 0 5%;
    }
}

@media (max-width: 1009px){
    .galleryText {
        padding: 6% 4% 0 5%;
    }
}

@media (max-width: 902px){
    .galleryText {
        padding: 5% 2% 0 3%;
    }
}

@media (max-width: 822px){
    .galleryText {
        padding: 4% 1% 0 2%;
    }
}

@media (max-width: 732px){
    .galleryText {
        padding: 1% 0 0 1%;
    }

    .galleryText p {
        margin-top: 0;
        margin-bottom: 1%;
    }
}

@media (max-width: 691px){
    .galleryText,
    .gallery img {
        width: 100%;
    }

    .galleryText {
        text-align: center;
        padding: 5% 0;
    }

    .galleryText p {
        width: 50%;
        margin: 0 auto;
    }

    .galleryText button {
        width: 19%;
        margin-top: 1%;
    }
}

@media (max-width: 485px){
    .galleryText {
        padding-bottom: 6%;
    }

    .galleryText,
    .gallery img {
        float: none;
    }
    
    .galleryText p {
        width: 75%;
    }

    .galleryText button {
        width: 35%;
        padding: 8px 10px;
        margin-top: 10px;
    }
}

section button {
    color: #f2a11c;
    background: #222;
    width: 30%;
}

/* BLOG SECTION */

.blog .fullbleed{
    background: #f4f4f4;
    padding: 7%;
    padding-right: 6%;
    min-width: 100%;
}

.imgContainer {
    float: left;
    width: calc(27% - 1.5%);
}

.imgContainer img {
    width: 100%;
    display: block;
}

.blogText {
    margin-left: 3%;
    width: calc(73% - 1.5%);
    float: left;
    line-height: 1.45;
}

.blogText button {
    width: 17%;
    margin-top: 1px;
}

@media (max-width: 1067px){
    .blog .fullbleed {
        padding: 7% 5.5%;
    }
    
    .blogText button {
        margin-top: 0;
    }

    .blogText p {
        margin-top: 4px;
        margin-bottom: 8px;
    }
}

@media (max-width: 971px) {
    .blog .fullbleed {
        padding: 7% 4%;
    }

    .imgContainer{
        width:calc(34% - 1.5%);
    }

    .blogText {
        width: calc(66% - 1.5%);
    }
}

@media (max-width: 890px){
    .blog .fullbleed{
        padding: 7% 2%;
    }
    
    .blogText {
        margin-left: 1.5%;
        width: calc(66.25% - 0.75%);
    }

    .blogText p {
        margin: 0;
    }
    .imgContainer {
        width: calc(33.75% - 0.75%);
    }
}

@media (max-width: 842px){
    .blog .fullbleed {
        padding: 7% 1%;
    }
    .imgContainer {
        width: 100%;
    }

    .imgContainer img {
        width: 40%;
        margin: 0 auto;
    }

    .blogText {
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }

    .blogText p {
        max-width: 50%;
        margin: 1.5% auto;
    }
}

@media (max-width: 691px){
    .imgContainer img {
        width: 80%;
    }

    .blogText p {
        max-width: 85%;
    }
}

@media (max-width: 616px){
    .imgContainer img {
        width: 85%;
    }

    .blogText p {
        width: 90%;
        text-align: left;
        padding-right: 3%;
    }

    .blogText button {
        padding: 1% 0.5%;
        width: 40%;
        margin-top: 1%;
    }
}

/* SECTION WITH THE BACKGROUND */

.midSection .fullbleed {
    background-image: url('../assets/image5.jpg');
    background-size: cover;
}

.midSection ul {
    text-align: center;
    padding: 16.5% 0 15.5% 0;
}

.midSection a {
    padding: 0;
}

.midSection i {
    color: #fff;
    font-size: 1.3rem;
}

.midSection p {
    color: #f2a11c;
    margin: 0;
}

@media (max-width: 485px){
    
    .midSection .fullbleed {
        background-position: left 850px center;
    }

    .midSection ul {
        padding: 30% 0;
    }
    .midSection li {
        display: block;
        font-size: 1rem
    }
    
    .midSection li i {
        font-size: 2rem;
    }

    .midSection li:nth-child(n + 2){
        margin-top: 10%
    }

}

/*  THE GRAM SECTION */

.gram h2 {
    text-align: center;
    margin: 7.5% 0;
}

.gram .gramWrapper {
    margin-bottom: 12%;
}

.gram .gramWrapper img:nth-child(2){
    margin: 0 3%;
}

.gram img {
    display: block;
    float: left;
    width: calc((100% - 6%) / 3);
}

@media (max-width: 691px){
    
    .wrapper {
        min-width: 92%;
    }

    .gram h2 {
        margin: 12% 0;
    }

    .gram img:last-child{
        display: none;
    }

    .gram .gramWrapper img:nth-child(2){
        margin: 0;
        margin-left: 4%;
    }

    .gram img {
        width: calc((100% - 4%) / 2);
    }

}

/*  FOOTER STYLES */

footer {
    background: #222;
}

.contactInfo,
.stayUpdated {
    float: left;
    margin-bottom: 7.5%;
}

.contactInfo {
    width: 30%;
}

.stayUpdated {
    width: 70%;
    padding-left: 26.5%;
}

.stayUpdated input[type="text"],
.stayUpdated button {
    padding: 1.25% 0;
    font-size: 0.8rem;
    float: left;
    margin-top: 1%;
}

.stayUpdated input[type="text"] {
    width: 75%;
    padding-left: 5%;
}

.stayUpdated button {
    width: 25%;
    background: #f2a11c;
    color: #222;
    padding: 0.9% 0;
    border: 2px solid transparent;
}

@media (max-width: 995px){
    .stayUpdated {
       padding-left: 15%; 
    }
}

@media (max-width: 934px){
    .contactInfo, .stayUpdated {
        width: 100%;
        padding: 0;
        text-align: center;
        margin-bottom: 3%;
    }

    footer form {
        padding-left: 24%;
    }

    .stayUpdated input[type="text"]{
        width: 50%;
    }

    .stayUpdated button{
        width: 20%;
        padding-top: 0.85%;
    }
}

@media (max-width: 630px){
    .stayUpdated input[type="text"],
    .stayUpdated button {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }

    footer form {
        padding: 0;
    }

    footer ul li {
        padding: 0;
        margin: 0;
        float: left;
        padding-left: 18%;
    }

    footer ul li:first-child{
        padding-left: 0;
    }
    footer ul li:last-child {
        float: right;
    }
}

@media (max-width: 602px){
    footer ul li {
        text-transform: none;
        padding-left: 20%;
    }
}

@media (max-width: 571px){
    footer ul li{
        padding-left: 19%;
    }
}

@media (max-width: 529px){
    footer ul li{
        padding-left: 18%;
    }
}

@media (max-width: 499px){
    footer ul li{
        padding-left: 17%;
    }
}

@media (max-width: 467px){
    footer ul li {
        padding-left: 16%;
    }
}

@media (max-width: 441px){
    footer ul li{
        padding-left: 15%;
    }
}

@media (max-width: 417px){
    footer ul li{
        padding-left: 14%;
    }
}

footer h2 {
    color: #f2a11c;
    font-size: 1rem;
}

footer ul {
    text-transform: uppercase;
    padding-top: 6.5%;
    margin-bottom: 2.5%;
}

footer p {
    color: #fff;
    margin: 0;
}

.copyright {
    background: #000;
    text-align: center;
    padding: 0.5% 0;
}

.copyright p {
    margin: 0;
    color: grey;
}




