article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  QUESTIONS */
/* did i do accessbility correctly? */
/* larger monitors dont display the same result as my laptop */

/***** GENERAL STYLES ******/

html {
    font-size: 20px;
}

body {
    font-family: 'Catamaran', sans-serif;
    font-size: 0.8rem;
}

.wrapper {
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3{
    font-family: 'Pacifico', cursive;
}

h1, h3, aside p, .navIcons {
    color: #f2a11c;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 1rem 0.5rem 0 0.5rem;
    display: inline-block;
}

button {
    text-transform: uppercase;
    padding: 0.25rem 0;
    font-size: 0.8rem;
    font-weight: bold;
    border: 1.5px solid transparent;
    transition: border 0.15s ease-in;
}

#about button:hover,
#blog button:hover {
    border: 1.5px solid #f2a11c;
}

.navList li,
footer li,
#midSection li {
    display: inline-block;
    margin-left: 1rem;
    border-bottom: 1px solid transparent;
}

nav li:hover,
footer li:hover,
#midSection li:hover {
    border-bottom: 1px solid #f2a11c;
}

nav li,
footer li,
#midSection li {
    transition: border 0.25s ease-in;
}

.navList ul,
footer ul {
    text-align: center;
    color: #fff;
}

h2 {
    font-size: 1.8rem;
    margin: 0;
}
/*****  STYLES BY SECTION *****/

/* HEADER STYLES*/

header .fullbleed {
    background: url('../assets/image1.jpg');
    background-size: cover;
    background-position: 50% 0%;
    min-height: 100vh;
    /* accomodates for items in the header when the page gets too small */
}


.headerText {
    padding-top: 8.5rem;
    padding-left: 19.25rem;
    padding-right: 3rem;
}

h1 {
    font-size: 5.25rem;
    max-width: 90%;
    float: left;
    margin: 0;
}

.navIcons {
    max-width: 10%;
    float: right;
    margin-top: 1.25rem;
}

.navIcons a {
    padding-bottom: 0.25rem;
    padding-top: 0;
}

.navIcons li {
    transition: color 0.25s ease-in;
}

.navIcons li:hover {
    color: #fff;
}

/* when container gets too small floats will stack on top of each other */
/* to fix this - adjust the width of the container??? */

/*  ABOUT SECTION STYLES */

.galleryText p {
    line-height: 1.45;
    margin-top: 0;
}

.galleryText,
.gallery Img {
    width: 50%;
    float: left;
}

.galleryText {
    padding: 5rem 3rem 0 5rem; 
    /* padding: 10% 17% 0 10%;  */ /* << 24" */
}

.gallery Img {
    display: block;
}

section button {
    color: #f2a11c;
    background: #222;
    width: 30%;
}

/* BLOG SECTION */
#blog .fullbleed{
    background: #f4f4f4;
    padding: 4rem 2rem 4rem 6.5rem;
}

#blog img {
    float: left;
    margin-right: 2rem;
    max-width: calc(26% - 1rem);
}

.blogText {
    max-width: calc(74% - 1rem);
    /* 5rem due to the margin added to img and padding added to the parent */
    float: left;
    line-height: 1.45;
    margin-top: -0.425rem;
}

.blogText p {
    margin-top: 0.6rem;
    margin-bottom: 0.65rem;
}

.blogText button {
    /* margin-top: 0.5rem; */
    width: 17%;
}

/* SECTION WITH THE BACKGROUND */

#midSection .fullbleed {
    background-image: url('../assets/image5.jpg');
    background-size: cover;
}

#midSection ul {
    text-align: center;
    padding: 7.25rem 0 6.25rem 0;
    /* padding: 12rem 0 10rem 0; */
}

#midSection a {
    padding: 0;
}

#midSection i {
    color: #fff;
    font-size: 1.3rem;
}

#midSection p {
    color: #f2a11c;
    margin: 0;
}

/*  THE GRAM SECTION */

#gram h2 {
    text-align: center;
    margin: 3.5rem 0;
}

#gram .gramWrapper {
    margin-bottom: 12%;
    /* % because it should scale with the wrapper */
}

#gram .gramWrapper img:nth-child(2){
    margin: 0 3%;
    /* % because it should scale with the wrapper */
}

#gram img {
    display: block;
    float: left;
    width: calc((100% - 6%) / 3);
}


/*  FOOTER STYLES */

footer {
    background: #222;
}

.contactInfo,
.stayUpdated {
    float: left;
    margin-bottom: 3.5rem;
}

.contactInfo {
    width: 51%
}

.stayUpdated {
    width: 49%;
}

.stayUpdated input[type="text"],
.stayUpdated button {
    padding: 0.3rem 0;
    font-size: 0.8rem;
    float: left;
    margin-top: 0.25rem;
}

.stayUpdated input[type="text"] {
    width: 75%;
    padding-left: 5%;
}

.stayUpdated button {
    width: 25%;
    background: #f2a11c;
    color: #222;
    padding: 0.225rem 0;
    border: 2px solid transparent;
}

.stayUpdated button:hover {
    border: 2px solid #fff;
}


footer h2 {
    color: #f2a11c;
    font-size: 1rem;
}

footer ul {
    text-transform: uppercase;
    padding-top: 4rem;
    margin-bottom: 1.25rem;
}

footer p {
    color: #fff;
    margin: 0;
}

.copyright {
    background: #000;
    text-align: center;
    padding: 0.125rem 0;
}

.copyright p {
    margin: 0;
    color: grey;
}

/*  HOVER EFFECTS */


